/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.bordered {
	border: var(--border-wrapper);
}

.page {
	background-image: var(--background-body-image);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-inline-size: 375px;
	max-inline-size: 700px;
	margin: 0 auto;
	min-block-size: 100dvb;
	font-family: var(--font-Inter-Variable);
	font-variation-settings: var(--font-weight-regular);
	font-size: var(--font-content-size);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
	inline-size: 100%;
	background-color: #fff;
	padding: clamp(120px, 117.1831px + 0.7512vw, 128px)
		clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
}

.header__title {
	font-family: var(--font-PressStart2P-Regular);
	text-transform: uppercase;
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	margin-block-end: 20px;
}

.header__title-discription {
	font-family: var(--font-PressStart2P-Regular);
	text-transform: uppercase;
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
	padding-block-end: 102px;
}

.page-posts {
}

.post-list {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-block-end: 50px;
}

.post-card {
}

.post-card__title {
	padding: 4px 10px;
	font-variation-settings: var(--font-weight-bold);
	font-size: inherit;
	background-color: #fff;
}

.post-card__image-wrapper {
	position: relative;
	border-block-start: none;
}

.post-card__image {
	display: block;
	object-fit: cover;
	inline-size: 100%;
}

.filter__blur {
	filter: blur(5px);
}

.filter__contrast {
	filter: contrast(200%);
}

.filter__grayscale {
	filter: grayscale(100%);
}

.filter__hue-rotate {
	filter: hue-rotate(90deg);
}

.filter__invert {
	filter: invert(100%);
}

.filter__sepia {
	filter: sepia(100%);
}

.filter__multiply {
	filter: invert(7%) sepia(7%) saturate(77%) hue-rotate(77deg);
}

.post-card__image-label {
	position: absolute;
	font-size: 14px;
	font-family: var(--font-PressStart2P-Regular);
	inset-block-start: 25px;
	inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
	opacity: 0.5;
	mix-blend-mode: hard-light;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	text-transform: uppercase;
}

@supports (text-stroke: 1px #fff) {
	.post-card__image-label {
		text-stroke: 1px #fff;
		text-shadow: none;
	}
}

.post-card__content {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 25px;
	background-color: #fff;
}

.post-card__content-text {
	line-height: 116%;
	width: 99%;
}

.post-card__button-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 5px;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: var(--nav-text-color);
	font: inherit;
	background: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	transition: box-shadow 0.3s ease-in-out;
}

button:hover {
	cursor: pointer;
}

.card__icon-button {
	height: 38px;
	transition: border 0.3s ease;
	border: 2px solid transparent;
}

.card__icon-button:focus-visible {
	border: 2px solid #000;
	outline: none;
}

.card__icon-button:focus {
	outline: none;
}

.card__like-button {
	inline-size: 130px;
	block-size: 38px;
	background-color: #fff;
}

.card__like-button:focus {
	outline: none;
	box-shadow: 2px 2px 0 #000;
}

button:has(span)::before {
	content: '';
	position: absolute;
	background-color: #000;
	transform: scaleX(0);
	transition: 0.5s ease-in-out;
	transform-origin: 0 50%;
	inline-size: 100%;
	block-size: 100%;
	inset: 0;
}

button:has(span):hover::before {
	transform: scaleX(1);
}

.button__text {
	font-family: var(--font-PressStart2P-Regular);
	font-size: 14px;
	position: relative;
	z-index: 1;
	color: #fff;
	mix-blend-mode: difference;
}

.action-save {
	background-color: #fff;
	display: flex;
	gap: 8px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	inline-size: 306px;
	block-size: 80px;
}

@media (width > 375px) {
	.action-save {
		flex-direction: row;
		inline-size: 335px;
		block-size: 55px;
	}
}

.action-save svg {
	width: 28px;
	height: 28px;
	color: #fff;
	z-index: 1;
	mix-blend-mode: difference;
}

@media (width > 375px) {
	.action-save svg {
		width: 21px;
		height: 21px;
	}
}

body:has(.action-save__dialog[open]) {
	overflow: hidden;
}

.action-save__dialog[open] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 36px;
	inline-size: 341px;
	block-size: 195px;
}

.action-save__dialog-wrapper {
	display: flex;
	gap: 20px;
}

.action-save__dialog svg {
	width: 39px;
	height: 39px;
	mix-blend-mode: difference;
	flex-shrink: 0;
}

.action-save__dialog-button {
	inline-size: 100%;
	block-size: 38px;
}

.action-save__dialog::backdrop {
	background: rgba(0, 0, 0, 0.75);
}
