/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--font-Inter-Variable: 'Inter-Variable', sans-serif;
	--font-PressStart2P-Regular: 'PressStart2P-Regular', sans-serif;
	--font-weight-regular: 'wght' 400;
	--font-weight-bold: 'wght' 700;
	--font-content-size: 18px;
	--border-wrapper: 2px solid #000;
}
