/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--font-Inter-Variable: 'Inter-Variable', sans-serif;
	--font-PressStart2P-Regular: 'PressStart2P-Regular', sans-serif;
	--font-weight-regular: 'wght' 400;
	--font-weight-bold: 'wght' 700;
	--font-content-size: 18px;
	--border-wrapper: 2px solid #000;
	--background-body-image: repeating-linear-gradient(
			to right,
			#d3d3d3 0px,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			#d3d3d3 0px,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
	--heart-contour-color: #000;
	--heart-core-color: #fff;
	--heart-main-color: #ff0000;
	--heart-sparks-color: #ff0000;
}
